@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1, p, ul {
  margin: 0;
}

li {
  list-style: none;
}

:root {
  --color-light-red: hsl(0, 100%, 67%);
  --color-orange-yellow: hsl(39, 100%, 56%);
  --color-green-teal:hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  --gradient-blue-1: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient-blue-2: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
  
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-blue: hsl(224, 30%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-white);
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 3px 35px 40px hsla(224, 30%, 27%, 0.15);
}

.card section {
  padding: 4rem;
  width: 36.8rem;
  min-height: 51.2rem;
}

.result {
  background: var(--gradient-blue-1);
  border-radius: inherit;
  color: var(--color-pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-light-lavender);
}

.circle {
  height: 20rem;
  width: 20rem;
  background: var(--gradient-blue-2);
  border-radius: 50%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scored {
  font-size: 7.2rem;
  font-weight: 800;
  color: var(--color-white)
}

.max-score {
  margin-top: -1rem;
  color: hsla(241, 100%, 89%, 0.5);
}

.classification-rank {
  margin-top: 3rem;
  color: var(--color-white);
  font-weight: 700;
  font-size: 3.1rem;
}

.classification-text {
  margin-top: 2rem;
  text-align: center;
  padding: 0 2rem;
  color: var(--color-light-lavender)
}

.summary .title {
  color: var(--color-dark-blue);
  text-align: left;
  font-weight: 700;
}

.summary-items {
  margin-top: 3rem;
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}

.summary-items li {
  background: var(--color-pale-blue);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.summary-items .icon {
  user-select: none;
  margin-right: 1.2rem;
}

.summary-items .name {
  margin-right: auto;
}

.score {
  color: hsla(224, 30%, 27%, 0.5);
}

.score span {
  color: var(--color-dark-blue);
  margin-right: 0.4rem;
  font-weight: 700;
}

.summary-items li.reaction {
  background:hsla(0, 100%, 67%, 0.1);
  color: var(--color-light-red);
}

.summary-items li.memory {
  background:hsla(39, 100%, 56%, 0.1);
  color: var(--color-orange-yellow);
}

.summary-items li.verbal {
  background: hsla(166, 100%, 37%, 0.1);
  color: var(--color-green-teal);
}

.summary-items li.visual {
  background: hsla(234, 85%, 45%, 0.1);
  color: var(--color-cobalt-blue);
}

.summary-button {
  margin-top: 4rem;
  display: block;
  width: 100%;
  height: 56px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
  background: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 28px;
  transition: 0.1s;
  cursor: pointer;
}

.summary-button:hover {
  background: var(--gradient-blue-1);
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
  }

  .card section {
    width: inherit;
  }

  .result {
    border-radius: 0 0 32px 32px;
  }
}

@media screen and (max-width: 375px) {
  
}
