html {
  font-size: 62.5%;
}

body {
  background: $color-white;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: $font-size-paragraphs;

  @include device("mobile") {
    font-size: $font-size-paragraphs-mobile;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @include device("tablet") {
    align-items: start;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 32px;
  box-shadow: 3px 35px 40px hsla(224, 30%, 27%, 0.15);
  
  section {
    padding: 4rem;
    width: 36.8rem;
    min-height: 51.2rem;
    display: flex;
    flex-direction: column;
  }
  
  @include device("tablet") {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    section {
      width: inherit;
    }
  }

  @include device("mobile") {
    section {
      min-height: initial;
      padding: 3rem;
    }
  
    .title {
      font-size: 1.8rem;
    }
  }
}

@import "result";

.title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: $color-light-lavender;
}

@import "summary";
