$color-light-red: hsl(0, 100%, 67%);
$color-orange-yellow: hsl(39, 100%, 56%);
$color-green-teal:hsl(166, 100%, 37%);
$color-cobalt-blue: hsl(234, 85%, 45%);

$gradient-blue-1: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$gradient-blue-2: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));

$color-white: hsl(0, 0%, 100%);
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-dark-blue: hsl(224, 30%, 27%);

$font-size-paragraphs: 1.8rem;
$font-size-paragraphs-mobile: 1.4rem;

@use "sass:map";

$screen-sizes: ("tablet": 750px, "mobile": 375px);

@mixin device($size) {
  @media screen and (max-width: map.get($screen-sizes, $size)) {
    @content;
  }
}
